<ion-content [fullscreen]="true">

  <div class="div-container ion-padding" [class]="classBreatheBackground">

    <h1>{{ status }}</h1>


    <div class="breathe">

      <div class="container-breathe" [class]="classBreathe">
        <div class="pointer-breathe-container">
          <span class="pointer"></span>
        </div>
      </div>
    </div>





    <!-- <div class="container" [ngClass]="{'grow': status === 'in', 'shrink': status === 'out'}">
      <div class="circle"></div>

      <p>{{ text }}</p>

      <div class="pointer-container">
        <span class="pointer"></span>
      </div>

      <div class="gradient-circle"></div>
    </div> -->

  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>