<ion-content [fullscreen]="true">

  <div class="div-container ion-padding" [class]="classSlide">

    <!-- <h1 style="display: block;">bla bla</h1> -->

    <div class="breathe">

      <div class="container-breathe">
        <div class="pointer-breathe-container"></div>
      </div>
    </div>




    <!-- <div class="container" [ngClass]="{'grow': status === 'in', 'shrink': status === 'out'}">
      <div class="circle"></div>

      <p>{{ text }}</p>

      <div class="pointer-container">
        <span class="pointer"></span>
      </div>

      <div class="gradient-circle"></div>
    </div> -->

  </div>

</ion-content>