/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~@ionic/angular/css/ionic-swiper";

/* Background breathe */
.slide-one {
    background-image: linear-gradient(to right bottom, #01524a, #006373, #0070aa, #0076db, #646cf3);
}

.slide-two {
    background-image: linear-gradient(to right bottom, #004d09, #00593b, #006266, #006889, #006a9c);
}

.slide-three {
    background-image: linear-gradient(to right bottom, #5955a0, #82458c, #9a376e, #a3324c, #9d3a2b);
}

.slide-four {
    background-image: linear-gradient(to right bottom, #313600, #2f3f00, #2a4800, #1f5100, #025b01);
}

.slide-five {
    background-image: linear-gradient(to right bottom, #633f0d, #883825, #a52e50, #ab398b, #835bcb);
}

.slide-six {
    background-image: linear-gradient(to right bottom, #215b8d, #2861a6, #4264be, #6564d1, #8d60df);
}
