.swiper {
  height: 100%;
}

.slide-container {
  height: 100%;
  width: 100%;
  .title {
    h1 {
      font-size: 2.5em;
      margin-top: 15vh;
    }
    p {
      margin-bottom: 5vh;
    }
  }
  .description {
    margin-top: 15vh;
  }
}

.play-container {
  border-radius: 50%;
  border: #fff solid 1px;
  height: 20vh;
  width: 20vh;
  display: block;
  margin: 0 auto;
  .breathing-button {
    --border-radius: 50%;
    height: 19vh;
    width: 19vh;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
  }
}

// animations

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
