<ion-content>
  <swiper [pagination]="true" [loop]="true" (swiper)="setSwiperInstance($event)">
    <ng-template swiperSlide>
      <div class="slide-container slide-one">

        <ion-text color="light">
          <h1 class="ion-text-center">Relajación</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container slide-two">

        <ion-text color="light">
          <h1 class="ion-text-center">Equilibrio</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container slide-three">

        <ion-text color="light">
          <h1 class="ion-text-center">Fuerza</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container slide-four">

        <ion-text color="light">
          <h1 class="ion-text-center">Concentración</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container slide-five">

        <ion-text color="light">
          <h1 class="ion-text-center">Energía</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container slide-six">

        <ion-text color="light">
          <h1 class="ion-text-center">Descanso</h1>
        </ion-text>

        <div class="play-container">
          <ion-button size="large" color="dark" class="breathing-button">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </div>

      </div>
    </ng-template>
  </swiper>
</ion-content>